/* Shared */
QStackedWidget, QLabel, QPushButton, QRadioButton, QCheckBox,
QGroupBox, QStatusBar, QToolButton, QComboBox, QDialog{
    font-family: "Microsoft Yahei";
	color: #666666;
}

/* 背景色样式 */
QMainWindow, QDialog {        /* 主界面 */
    background-color: #F2F3F5;
}

QStackedWidget{
    background-color: #292A2B；
}



/* QPushButton样式 */
QPushButton{        /* 按钮样式 */
    text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #4C4D4E;
	margin: 3px;
	border-radius :3px;
	width: 80px;
	height: 30px;
}

QPushButton:hover{ /* 鼠标在按钮上样式 */
    background: #545557;
}

QPushButton:pressed{ /* 按钮按下样式 */
    background: #4C4D4E;
}

QPushButton#btnCancel{  /* 取消按钮样式 */
    border: 1px solid #555555;
	background: #292A2B;
	margin: 3px;
	border-radius :3px;
		min-width: 80px;
	min-height: 30px;
}

QPushButton#btnCancel:hover{ /* 鼠标在按钮上样式 */
    background: #545557;
}

QPushButton#btnCancel:pressed{ /* 按钮按下样式 */
    background: #4C4D4E;
}

QPushButton#btnMin{
    background-color: transparent;
	image: url(./Resources/Btn_Common_WinMinimize_Normal.png);
}

QPushButton#btnMin::hover{
    background: #545557;
	image: url(./Resources/Btn_Common_WinMinimize_Hover.png);
}

QPushButton#btnMin::pressed{
    background: #4C4D4E;
	image: url(./Resources/Btn_Common_WinMinimize_Pressed.png);
}

QPushButton#btnMax{
    background-color: transparent;
	image: url(./Resources/Btn_Common_WinMaximize_Normal.png);
}

QPushButton#btnMax::hover{
    background: #545557;
	image: url(./Resources/Btn_Common_WinMaximize_Hover.png);
}

QPushButton#btnMax::pressed{
    background: #4C4D4E;
	image: url(./Resources/Btn_Common_WinMaximize_Pressed.png);
}

QPushButton#btnClose{
    background-color: transparent;
	image: url(./Resources/Btn_Common_WinClose_Normal.png);
}

QPushButton#btnClose::hover{
    background: #545557;
	image: url(./Resources/Btn_Common_WinClose_Hover.png);
}

QPushButton#btnClose::pressed{
    background: #4C4D4E;
	image: url(./Resources/Btn_Common_WinClose_Pressed.png);
}


QPushButton#btnOK2{        /* 按钮样式 */
    text-align:center ;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
	background: #dddddc;
	margin: 3px;
	border-radius :3px;
	width: 40px;
	height: 20px;
}

QPushButton#btnOK2:hover{ /* 鼠标在按钮上样式 */
    background: #f38486;
	color: white;
}

QPushButton#btnOK2:pressed{ /* 按钮按下样式 */
    	color: #b2b2b2;
}

QPushButton#btnCancel2{  /* 取消按钮样式 */
    text-align:center ;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
	background: transparent;
	margin: 3px;
	border-radius :3px;
	width: 40px;
	height: 20px;
}

QPushButton#btnCancel2:hover{ /* 鼠标在按钮上样式 */
    background: #f38486;
	color: white;
}

QPushButton#btnCancel2:pressed{ /* 按钮按下样式 */
    	color: #b2b2b2;
}

QPushButton#btnClose2{
    background-color: transparent;
	border-radius: 10px;
	image: url(./Resources/Btn_Common_WinClose_Normal.png);
}

QPushButton#btnClose2::hover{
	image: url(./Resources/Btn_Common_WinClose_Hover.png);
}

QPushButton#btnClose2::pressed{
	image: url(./Resources/Btn_Common_WinClose_Pressed.png);
}




QPushButton#btnRestore{
    background-color: transparent;
	image: url(./Resources/Btn_Common_WinRestore_Normal.png);
}

QPushButton#btnRestore::hover{
    background: #545557;
	image: url(./Resources/Btn_Common_WinRestore_Hover.png);
}

QPushButton#btnRestore::pressed{
    background: #4C4D4E;
	image: url(./Resources/Btn_Common_WinRestore_Pressed.png);
}

QPushButton#btnLogin{        /* 按钮样式 */
    text-align:center ;
    color: #E2E2E2;
    border:none;
	background: transparent;
	margin: 3px;
	border-radius :3px;
	width: 80px;
	height: 30px;
}

QPushButton#btnLogin:hover{ /* 鼠标在按钮上样式 */
    background: #545557;
}

QPushButton#btnLogin:pressed{ /* 按钮按下样式 */
    background: #4C4D4E;
}




QToolButton#HToolButton {
	border:none;
	border-radius:5px;
	background-color:292A2B;
}
 
QToolButton#HToolButton:hover {
	background-color:#545557；
}
 
/* 鼠标按下时 */
QToolButton#HToolButton:pressed {
	background-color:#4C4D4E；
}
 
/* 按钮有菜单时 */
QToolButton::menu-button {
	border:2px solid red;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	width = 16px;
}


/* QTabBar样式 */
QTabBar::tab{
    text-align: center;
	height: 40px;
	min-width: 80px;
	color: black;
	background: transparent;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 0px;
}

QTabBar::tab:selected{
    text-align: center;
    color: #black;
	border-bottom:2px solid #0078D4;
	background: transparent;
}

/* QTabWidget样式 */
QTabWidget::tab-bar{
    left: 20px;
	color: black;
}

QTabWidget::pane{
    border-width: 0px;
	border-color: white;
	border-style: outset;
	background-color: transparent;
}


/* QRadioButton样式 */
QRadioButton{
    color: #666666;
}

QRadioButton:hover{
    color: #444444;
}

QRadioButton::disabled{
    color: #E2E2E2;
}


QRadioButton::indicator{
	background-color: transparent;
	image: url(./Resources/RadioBtn_Common_Unchecked_Normal.png);
}

QRadioButton::indicator::disabled{
	image: url(./Resources/RadioBtn_Common_Unchecked_Disable.png);
}

QRadioButton::indicator::hover{
	image: url(./Resources/RadioBtn_Common_Unchecked_Hover.png);
}

QRadioButton::indicator::pressed{
	image: url(./Resources/RadioBtn_Common_Unchecked_Pressed.png);
}

QRadioButton::indicator::checked{
	image: url(./Resources/RadioBtn_Common_Checked_Normal.png);
}

QRadioButton::indicator::checked::disabled{
	image: url(./Resources/RadioBtn_Common_Checked_Disable.png);
}

QRadioButton::indicator::checked::hover{
	image: url(./Resources/RadioBtn_Common_Checked_Hover.png);
}

QRadioButton::indicator::checked::hover{
	image: url(./Resources/RadioBtn_Common_Checked_Pressed.png);
}

/* QCheckBox样式 */
QCheckBox{
    color: #B1C3D3;
}

QCheckBox:hover{
    color: #FFFFFF;
}

QCheckBox::indicator{
    background-color: transparent;
	image: url(./Resources/CheckBox_Common_Unchecked_Normal.png);
}

QCheckBox::indicator::hover{
    image: url(./Resources/CheckBox_Common_Unchecked_Hover.png);
}

QCheckBox::indicator::disabled{
    image: url(./Resources/CheckBox_Common_Unchecked_Disable.png);
}

QCheckBox::indicator::pressed{
    image: url(./Resources/CheckBox_Common_Unchecked_Pressed.png);
}

QCheckBox::indicator::checked{
    image: url(./Resources/CheckBox_Common_Checked_Normal.png);
}

QCheckBox::indicator::checked::hover{
    image: url(./Resources/CheckBox_Common_Checked_Hover.png);
}

QCheckBox::indicator::checked::disabled{
    image: url(./Resources/CheckBox_Common_Checked_Disable.png);
}

QCheckBox::indicator::checked::pressed{
    image: url(./Resources/CheckBox_Common_Checked_Pressed.png);
}

/* QLabel样式 */
QLabel{
    color: #666666;
}

/* QLineEdit样式 */
QLineEdit{
    color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #373839;
	border: 1px solid black;
}

QLineEdit:focus{
    border: 1px solid #FF0000;
}

/* QTextEdit样式 */
QTextEdit{
    color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #373839;
	border: 1px solid black;
}

QTextEdit:focus{
    border: 1px solid #FF0000;
}

/* QComboBox样式 */
QComboBox{
    color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #373839;
	border: 1px solid black;
	min-height: 24px;
}

QComboBox::drop-down{
    border: none;
}

QComboBox::down-arrow{
    image: url(./Resources/Icon_ComboBox_ArrowDown_Normal.png);
}

QComboBox::down-arrow::disabled{
    image: url(./Resources/Icon_ComboBox_ArrowDown_Disable.png);
}

QComboBox::down-arrow::hover{
    image: url(./Resources/Icon_ComboBox_ArrowDown_Hover.png);
}

QComboBox::down-arrow::pressed{
    image: url(./Resources/Icon_ComboBox_ArrowDown_Pressed.png);
}

QComboBox:focus{
    border: 1px solid #FF0000;
}

QComboBox QAbstractItemView {
    color: #B1C3D3;
    height: 50px;
	border:0px solid white;
	background-color: #292A2B;
	selection-color: #FFFFFF;
	selection-background-color: #373839;
	outline: 0px; 
}

QComboBox QAbstractItemView::item {
    min-height: 20px;
	padding: 3px;
}

QComboBox QAbstractItemView::item::selected {
    background-color: #373839;
	border-bottom: 1px solid red;
}

/* QSpinBox样式 */
QSpinBox{
    color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #373839;
	border: 1px solid black;
}

QSpinBox::up-button{
    width: 0px;
}

QSpinBox::down-button{
    width: 0px;
}

QSpinBox:focus{
    border: 1px solid #FF0000;
}

/* QDoubleSpinBox样式 */
QDoubleSpinBox{
    color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	background-color: #373839;
	border: 1px solid black;
}

QDoubleSpinBox::up-button{
    width: 0px;
}

QDoubleSpinBox::down-button{
    width: 0px;
}

QDoubleSpinBox:focus{
    border: 1px solid #FF0000;
}



/* QTableWidget样式 */
QHeaderView{
    background: #1C1C1C;
}

QHeaderView::section{
    font-family: "Microsoft Yahei";
	background: #1C1C1C;
	border: none;
	text-algin: center;
	color: #B1C3D3;
	min-height: 30px;
}

QTableWidget::item::selected{
	background: #414244;
	border-bottom: 1px solid red;
}

QTableWidget::item::focus{
    outline: none;
}

QTableWidget{
    background-color: #292A2B;
    alternate-background-color: #232525;
	outline: none;
	color: #B1C3D3;
}

/* QScrollBar样式 */
QScrollBar{
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
}

QScrollBar::handle:vertical{
    background: rgba(255,255,255,20%);
	border: 0px solid grey;
	border-radius: 3px;
	width: 8px;
}

QScrollBar::handle:vertical::hover{
    background: rgba(255,255,255,40%);
}

QScrollBar::handle:vertical::pressed{
    background: rgba(255,255,255,40%);
}

QScrollBar::vertical{
    border-width: 1px;
	border-style: solid;
	border-color: transparent;
	width: 8px;
	margin: 0px;
	border-radius: 3px;
	background-color: transparent;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;  
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical{
    background: transparent; 
}


QScrollBar::handle:horizontal{
    background: rgba(255,255,255,20%);
	border: 0px solid grey;
	border-radius: 3px;
	height: 8px;
}

QScrollBar::handle:horizontal::hover{
    background: rgba(255,255,255,40%);
}

QScrollBar::handle:horizontal::pressed{
    background: rgba(255,255,255,40%);
}


QScrollBar::horizontal{
    border-width: 1px;
	border-style: solid;
	border-color: transparent;
	height: 8px;
	margin: 0px;
	border-radius: 3px;
	background-color: transparent;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: transparent;  
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal{
    background: transparent;   
}


/* QMenu样式 */
QMenu{
    background-color: #373839;
	color: #B1C3D3;
	border: none;
}

QMenu::item{
    background-color: transparent;
    margin: 0px;
	padding: 8px 25px 8px 20px;
	min-width: 80px;
}

QMenu::item:selected{
    background-color: #414244;
	border-bottom: 1px solid red;
}

QMenu::item:disabled{
    color:#666666;
}

QMenu::separator {
    height: 1px;
    background: #222222;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* QMenuBar样式 */
QMenuBar{
    background-color: #1F2021;
	color: #B1C3D3;
	font-family: "Microsoft Yahei";
	font-size: 14px;
}

QMenuBar::item{
    margin:2px 20px 2px 0px;
	padding:5px 10px 5px 10px;
}


QMenuBar::item:hover{
    color: #FFFFFF;
	background-color: #373839;
	
}

QMenuBar::item:selected{
    color: #FFFFFF;
	background-color: #373839;
}

/* QTreeWidget */
QTreeWidget{
    background-color: #373839;
	color: #B1C3D3;
	outline: none;
}

QTreeWidget::item:selected{
    background-color: #414244;
	border-bottom: 1px solid red;
}

/* QListWidget */
QListWidget{
    background-color: #373839;
	color: #B1C3D3;
	outline: none;
}

QListWidget::item:selected{
    background-color: #414244;
	border-bottom: 1px solid red;
}

QListWidget#lwgtSettings{
    background-color: #e2e3e6;
	color: #B1C3D3;
	outline: none;
	border: none;
}

QListWidget#lwgtSettings::item{
    background-color: transparent;
	height: 35px;
	border: none;
	color: #4c4c4c;
	padding-left: 15px;
}

QListWidget#lwgtSettings::item:selected{
    background-color: #f2f3f6;
	color: #4c4c4c;
	border-bottom: 1px solid red;
}

/* QProgressBar */
QProgressBar{
    border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	color: #B1C3D3;
}

QProgressBar::chunk{
    background-color: red;
	width: 5px;
	margin: 1px;
}

/* QSlider */

QSlider::groove:Horizontal{
    background:transparent;
	height: 6px;
}

QSlider::handle:Horizontal{
    background-color: red;
    height: 13px;
	width: 13px;
	border: 1px solid transparent;
	border-radius: 7px;
	margin: -4 0px;
}

QSlider::groove:Vertical{
    background:transparent;
	width: 6px;
}

QSlider::handle:Vertical{
    background-color: red;
    height: 13px;
	width: 13px;
	border: 1px solid transparent;
	border-radius: 7px;
	margin: 0 -4px;
}

QSlider::add-page:Horizontal,QSlider::sub-page:Horizontal{
    background-color: rgb(87,97,106);
	height: 4px;
}

QSlider::add-page:Vertical,QSlider::sub-page:Vertical{
    background-color: rgb(87,97,106);
	width: 4px;
}

/************* 左侧管理工具栏 ***************/
QWidget#mangeWidget, #listItemWidget, #MangeScrollAreaWidget {
    background-color: #f5f5f7;
}
QListWidget#MangeListWidget {
    border: none;
    outline: none;
    background-color: #f5f5f7;
}
QListWidget#MangeListWidget::item {
    background-color: #f5f5f7;
    border: solid
}
QListWidget#MangeListWidget::item:hover {
    background-color: #f5f5f7;
}
QListWidget#MangeListWidget::item:selected {
    background-color: #e6e7ea;
    border-left-width: 4px;
    border-left-color: #c62f2f;
}
QLabel#boxTitleLabel, #toolboxNameLabel {
    color: #696969;
    font-family: "Microsoft Yahei";
    font-size: 9pt;
    background-color: #f5f5f7;
}
QScrollArea#MangeScrollArea {
    border: 0px solid;
    border-right-width: 1px;
    border-right-color: #dcdbdc;
    background-color: #f5f5f7;
}
QScrollBar:vertical {
    border: none;
    background: #f5f5f7;
    width: 10px;
    margin: 0px 0 0px 0;
}
QScrollBar::handle:vertical {
    background: Gainsboro;
    min-height: 20px;
    border-radius: 5px;
    border: none;
}
QScrollBar::add-line:vertical {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border: 0px solid grey;
    background: #32CC99;
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
    width: 0px;
    height: 0px;
}
QPushButton#playListTitleButton, #openListButton,
        #createPLayListButton {
    border: none;
}
QPushButton#playListTitleButton {
    text-align : left;
    color: #696969;
    font-family: "Microsoft Yahei";
    font-size: 9pt;
    background-color: #f5f5f7;
}
/*QPushButton#openListButton {
    padding: 3px;
    image: url(:/images/rightArrow32_LightGray.png);
}*/
/*QPushButton#openListButton:hover {
    image: url(:/images/rightArrow32_Gray.png);
}*/
QPushButton#openListButton[mouseEnterPro=false]::!checked {
    padding: 2px;
    image: url(:/images/rightArrow32_LightGray.png);
}
QPushButton#openListButton[mouseEnterPro=false]::!checked:hover {
    padding: 2px;
    image: url(:/images/rightArrow32_Gray.png);
}
QPushButton#openListButton[mouseEnterPro=true]::!checked {
    padding: 2px;
    image: url(:/images/rightArrow32_Gray.png);
}
QPushButton#openListButton[mouseEnterPro=false]::checked {
    padding: 3px;
    image: url(:/images/downArrow32_LightGray.png);
}
QPushButton#openListButton[mouseEnterPro=false]::checked:hover {
    padding: 3px;
    image: url(:/images/downArrow32_Gray.png);
}
QPushButton#openListButton[mouseEnterPro=true]::checked {
    padding: 3px;
    image: url(:/images/downArrow32_Gray.png);
}
QPushButton#createPlayListButton {
    border: none;
    image: url(:/images/addPlaylist32_LightGray.png);
}
QPushButton#createPlayListButton:hover {
    image: url(:/images/addPlaylist32_Gray.png);
}
/*QPushButton#createPlayListButton {
    image: url(:/images/addPlaylist32_Gray.png);
}*/

QLabel#labErrorString{
    color: red;
}

QLabel#moduleTitle{
    color: black;
	font-size: 20px;
}

QScrollArea{
    border: none;
}

QWidget#HLatestCard{
    background: white;
	border-radius: 10px;
	border-bottom: 1px solid qlineargradient(y0:0, y1:1,stop: 0 white, stop: 1  #ececef);
}

QWidget#HCard{
    background: white;
	border-radius: 5px;
	border: 1px solid #EBEBEB;
}
QWidget#HCard[mouseEnterPro=true]{
    background: #E8E8E8;
}
QWidget#HCard[mouseEnterPro=false]{
    background: white;
}

QStatusBar#statusBar{
    border: 2px solid #000000;
}

HProduceViewContainerItem{
    text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #4C4D4E;
	border-radius :3px;
	width: 80px;
	height: 30px;
}

HProduceView{
    text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #4C4D4E;
	border-radius :3px;
	width: 80px;
	height: 30px;
}

HProduceView[IsSelected=false]{
    border: 1px solid white;
}

HProduceView[IsSelected=true]{
    border: 1px solid #FF0000;
}

HLayoutSelectWidget{
    text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #303030;
	border-radius :3px;
}

/* HIconButton */
HIconButton {
	text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #303030;
	border-radius :3px;
}
 
HIconButton:hover {
	background: #515151;
}
 
/* 鼠标按下时 */
HIconButton:pressed {
	background: #515151;
}

QWidget#m_pWgtLayoutContent{
    background: #F2F3F5;
	border: 1px solid #D3D3D3;
}

/* QListWidget */
QListWidget#m_plWgtLayouts{
    background-color: #E3E4E6;
	color: #666666;
	outline: none;
	border: 1px solid #D3D3D3;
}

QListWidget#m_plWgtLayouts::item:selected{
    background-color: #F2F3F5;
	border-bottom: 1px solid red;
	color: #666666;
}

QStatusBar::item{
    border: none;
}
 
 
QFrame#frameMessageBox
{
	background-color:#ffffff;
	border-top: 1px solid red;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius:10px;
}

HMessageBox::QLabel{
    font-family: "Microsoft Yahei";
	font-size: 16px;
	color: #666666;
}

QWidget#wgtBtn{
    background: #E4E5E7;
	border: 1px solid #D3D3D3;
}

HDlgLayoutDesignerContainer{
    background-color: #353535;
	text-align:center ;
    color: #E2E2E2;
    border:none;
	background: #303030;
	border-radius :3px;
}

HDlgLayoutDesignerContainerItem{
    background-color: #3E3F3F;
}

HDlgLayoutDesignerContainerItem[IsSelected=false]{
    border: 1px solid  #353535;;
}

HDlgLayoutDesignerContainerItem[IsSelected=true]{
    border: 1px solid red;
}

QWidget#HProduceViewEmpty{
    background: #3c3c3c;
	border: 1px solid #3e3e3f;
}

QWidget#m_pWgtHeader{
    background: #3c3c3c;
}

QWidget#m_pWgtContent{
    background: #f0f0f0;
}

HMetro{
    background: #f2f3f5;
	border: 1px solid #c3c3c3;
}

HMetroBase{
    background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius :3px;
}

QDateEdit{
    font-size: 16px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(100,100,100);
	spacing: 5pc;
}

QDateEdit::drop-down{
    width: 15px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: gray;
}